/* Post content area */

.post-grid{
  display:grid;
  width:100%;
  grid-template-columns:1fr;
  grid-template-rows:auto auto auto auto;
}

.printer-friendly{
  display: none;
}

#post-title{
  margin:20px;
  padding:0px;
  grid-column:1;
  grid-row:2;
  color:#5d5c61;
}

#post-img{
  width:100%;
  height:100px;
  object-fit:cover;
  margin:0px;
  grid-row:1;
}

#main-content{
  margin:0 20px;
  grid-row:3;
}

figure {
  float: right;
  width:300px;
  margin-left: 20px;
  border:#99ddff;
  background-color: #99ddff;
  border-style:solid;
}

figure img{
  width: inherit;
}

figcaption{
  padding:10px;
}

#tips{
  margin:20px;
  grid-row:4;
}


/* Medium and Large Screens */
@media (min-width:1001px) {

  #post-img{
    height:200px;
  }
}

@media print{
  .printer-friendly{
    display:block;
    color: black;
  }

  #post-img{ 
    display:none;
  }

  #post-title{
    color:black;
}


