/* Post content area */

.post-grid{
  display:grid;
  width:100%;
  grid-template-columns:1fr;
  grid-template-rows:auto auto auto auto;
}

#post-title{
  margin:20px;
  padding:0px;
  grid-column:1;
  grid-row:2;
  color:#5d5c61;
}

#post-img{
  width:100%;
  height:100px;
  object-fit:cover;
  margin:0px;
  grid-row:1;
}

#body{
  margin:20px;
  grid-row:3;
}

#tips{
  margin:20px;
  grid-row:4;
}


/* Medium and Large Screens */
@media (min-width:1001px) {

  #post-img{
    height:200px;
  }


